$navHeight: 50px;
$logoWidth: 350px;
$mobileNavWidth: 300px;

.mobile-menu-active {
  .globalNav {
    left: $mobileNavWidth;
  }
}

.globalNav {
  transition: left 500ms ease;
  background-color: $brandPrimary;
  height: $navHeight;
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
  left: 0;
  overflow: visible;

  h1, h2, h3, h4, h5, h6 {
    line-height: $navHeight;
    margin: 0;
  }
}

.globalNav-logoWrap {
  display: inline;
  text-align: center;
  top: $navHeight / 2.5;
  white-space: nowrap;
  overflow: visible;
}

.hamburger {
  position: absolute;
  left: 15px;
  top: 13px;
  width: 17px;
  height: 19px;
  &:before {
    content: "\f0c9";
    color: #fff;
    font-family: FontAwesome;
  }
}

.styledFontLogo {
  font-family: 'Bangers';
  font-weight: normal;
  font-size: 24px;
  color: #ffffff;
  text-shadow: -1px 1px 1px white, -2px 2px 0px rgba(0,0,0,.15);
  letter-spacing: .015em;

  &:hover {
    color: #ffffff;
  }

  @media (min-width: $screen-extra-small){
    font-size: inherit;
  }

}

.globalNavSpacer {
  height: $navHeight;
}
